body
{
	background-color: white;
}
#header
{
	background-color: black;
	color: white;;
	text-align:center;
	font-size:32px;
	font-weight: bold;
	font-style:italic;
	font-family: times new roman;
}
#content {
	background-color: white;
	text-align: center;
	color: black;
	margin: auto;
	padding: 10px;
	font-size:16px;
	font-weight: bold;
	font-style:italic;
	font-family: pacifico;
	
.linkbutton
{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: white;
	color: black;
	padding: 5px 20px 5px 20px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

#footer
{
	background-color: black;
	color: white;
	text-allign: center;
	font-size:16px;
	font-weight: bold;
	font-style:italic;
	font-family: arial;

.nav
{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: white;
	color: black;
	padding: 5px 20px 5px 20px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

.linkbutton
{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: white;
	color: black;
	padding: 5px 20px 5px 20px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

.form {
	display: grid;
	grid-template-columns: [labels] 30% [controls] 70%;
	grid-auto-flow: row;
	grid-gap: .8em;
	background-color: silver;
	padding: 1.2em;
	width: 40%;
}

.form > label
{
	grid-column: labels;
	grid-row: auto;
}

.form > input
{
	grid-column: controls;
	grid-row: auto;
	border: none;
	padding: 1em;
}